.NavBar
{
    display: flex;
    float: right;
    margin: 2rem;
    width: 75%;
}

.NavBar a
{
    background-color: #8357c5;
    border-left: 0;
    border-top: .5rem solid darken($color: #8357c5, $amount: 25%);
    border-right: .5rem solid darken($color: #8357c5, $amount: 15%);
    border-bottom: 0;
    color: #f5f5fa;
    font-weight: 100;
    margin: 0 .2rem;
    padding: 2.5rem 5rem;
    width: 25%;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Helvetica";
    text-align: center;
    text-decoration: none;
}