.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    
}

.sprite-bgimg {
    width: 1920px;
    height: 947px;
    background-position: -5px -5px;
    
}

.espacio
{
    height: 30rem;
}

.txt-Bienvenida
{
    font-size:4vw;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.btn
{
    display: block;

    border: 2px solid #4e008e;
    border-radius: 100px;

    padding: .25rem 3.2rem;
    margin: 1.2rem auto;
    background-color: white;
    
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4e008e;
}