.wave-banner{
    width: 100%;
    height: 735px;
    background-image: url("/img/homepage/banners/bg-image-32.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.wave-banner-gradient{
    position: absolute;
    width: 100%;
    height: 735px;
    background: rgb(78,0,142);
    background: linear-gradient(118deg, rgba(78,0,142,0.4) 0%, rgba(255,255,255,0.4) 96%); 
}

.wave-intro{
    color: $white;
    margin-top: 6rem;
}

.wave-intro h2{
    color: $white;
    font-size: 5.375rem;
}

.wave-intro p {
    font-size: 1.4375rem;
}

.main-menu-nav--intro a{
    color: $white;
}

.main-menu-nav--intro a:hover{
    color: $white;
    text-decoration:none;
}

.wave-intro-platform img{
    width: 55%;
    height: 722px;
    object-fit: contain;
    position: absolute;
    right: -10%;
    top: 20%;
}

.wave-banner-effect{
    position: absolute;
    top: 45%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#layer-1 path{
    fill: #ffffff;
}
