.clients-carousel{
    padding:$l-size;
    padding-right: 13rem;
    padding-left: 13rem;
}

.client-slide{
    height: 20rem;
    padding-right: $xl-size;
    padding-left: $xl-size;
}

.btn-client-slider{
    transition: all 0.3s ease;
    font-size: 3.4rem;
    background-color: $gray-2;
    color: $theme-color;
    border-radius: 50%;
    text-transform: none;
    text-align: center;
    border: none;
    width: 70px;
    height: 70px;
    min-width: 70px;
    line-height: 70px;
    align-self: center;
    outline:none;
}

.btn-client-slider:hover{
    color: $white;
    background-color: $theme-color;
}

#client-slide-arrow-left{
    margin-bottom: 6px;
    margin-right: 4px;
}

#client-slide-arrow-right{
    margin-bottom: 6px;
    margin-left: 4px;
}


.client-slide-left{
    margin-right: $m-size !important;
}

.client-slide-right{
    margin-left: 0 !important;
}

.client-slide div{
    margin: auto;
    text-align: justify;
}

.client-slide h4 {
    color: $theme-color;
    font-weight: bold;
    font-size: 1.25rem;
}

.client-slide p{
    font-size: 0.87rem;
}

.rectangle{
    width: 278px;
    height: 278px;
    border-radius: 15px;
    background-color: $theme-color;
}