.solution-card{
    margin-top: 2.5rem;
    background:$white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 10px;
}

.solution-card-bottom{
    flex-direction: row-reverse;
}

.solution-card-bottom .solution-img{
    display: flex;
    justify-content: flex-end;
}

.solution-img{
    padding: 0 !important;
}

.solution-img img{
    width: 40rem;
    height: auto;
}

.solution-info{
    padding-top: $l-size;
    padding-bottom: $l-size;
    padding-left: $l-size !important;
    padding-right: $l-size !important;
    margin: auto;

}

.solution-info h3{
    text-align: center;
    margin-bottom: $m-size;
}

.solution-info p{
    text-align: justify;
}