@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900|Poppins:300,400,500,600,700,700i&display=swap');
@import 'views/LoginPage.scss';
@import 'components/textField.scss';
@import 'components/_modal.scss';
@import 'components/_RadioButton.scss';
@import 'views/SigninPage.scss';